@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login {
  background: url('https://i.ibb.co/QQnGvBM/background-gradient-05.png')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: contrast(100px);
  height: 100vh;
  overflow: hidden;
  color: #007090;
}

.login-page {
  width:  70%;
  height: 80%;
  background-color: whitesmoke;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  /* transform: scale(1.1); */
}



.left {
  width: 45%;
  height: 100%;
  background: #007090 !important;
  background-size: cover;
  opacity: 1;
}
.right {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 55%;
  height: 100%;
  background-color: white;
}

.right h1 {
  font-weight: 700;
  font-size: 3.5em;
  margin: 20px auto;
  width: 100%;
  color: #007090;
  justify-self: center;
}

.right form.login-details {
  height: 100%;
}

.right form.login-details p {
  font-size: 1.5em;
  margin-left: 50px;
  margin-bottom: 10px;
  color: #007090 !important;
  text-align: left;
}

.right form.login-details input {
  margin-left: 50px;
  margin: 0 auto;
  width: 80%;
  padding: 15px 5px;
  outline: none;
  margin-bottom: 15px;
  border: 1px solid #007090;
}

form {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.forgot-password {
  font-size: 1em !important;
  margin-left: 320px;
  margin-top: -10px !important;
}

.login-button {
  margin: 0 auto;
  font-size: 1.1em;
  margin-top: 15px;
  font-weight: 500;
  border: 2px solid #007090;
  background: #007090;
  color: white;
  padding: 7px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background: white;
  color: #007090;
}

.google {
  margin: 0px auto;
  margin-top: 15px;
  cursor: pointer;
  width: 60%;
  text-align: center;
  color: #007090;
  font-weight: 500;
  font-size: 1.1em;
  padding: 5px;
  background: white;
  border-color: #007090;
  transition: all 0.3s ease;
}

.google:hover {
  background: #007090;
  color: white
}

.outlook {
  display: none;
  font-size: 1.1em;
  font-weight: 500;
  margin: 15px auto;
  cursor: pointer;
  width: 50%;
  text-align: center;
  color: white;
  padding: 5px;
  /* margin-top: 5px; */
  /* border-radius: 2px; */
}

.login-page-create-account {
  margin: 20px auto;
}

@media screen and (min-width: 735px) {
  .login-page {
    margin-top: 5%;
    align-items: center;
    place-content: center;
    width: 80%;
  }
  .google,
  .outlook {
    padding: 8px;
  }
}

@media screen and (min-width: 1020px) {
  .login-page {
    width: 60%;
  }
}
